@{
    ViewData["Title"] = "Home Page";
}

@if (ViewData.ContainsKey("help"))
{
    <form method="post" action="/Prikazy/Index">
        <input type="text" name="zadanyPrikaz" placeholder="Zadejte příkaz..." />
    </form>

    <span>@ViewData["help"]</span>
}

else
{
    <form method="post" action="/Prikazy/Index">
        <input type="text" name="zadanyPrikaz" placeholder="Zadejte příkaz..." />
    </form>
}


