@{
    ViewData["Title"] = "Home Page";
}

    <form method="post" action="/Prikazy/Index">
        <input type="text" name="zadanyPrikaz" placeholder="Zadejte příkaz..." />
        <br/>
    <textarea poznamkyVelitele" cols="50" rows="20">@ViewData["notepad"]</textarea>
</form>

    <span>@ViewData["message"]</span>

