@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" action="/Engine/PridatPole">
        <input type="number" name="idecko" placeholder="ID" /><br/>
        <input type="submit" value="Tvoř"/>
    </form>
</div>
