<form action="/Prikazy/index"  style="text-align:center; margin-top: 300px; font-size: 4em;">
    <input type="password" placeholder="Heslo" name="Heslo"/>
     <input type="submit" value="Připojit" name="Heslo"/>
</form>