@page
@model ValecnaPlaneta.Views.Lobby.MenuModel
@{
}


<div id="container">
    <table>
        <tr>
            <th><form> action="/Lobby/Vytvor"</form></th>
        </tr>

        <tr>
            <th>Připojit</th>
        </tr>
    </table>
</div>
