<div id="menu">
    <table id="vytvor">
        <tr>
            <th> <form action="/Lobby/Vytvor"> <input type="submit" value="Nová hra" style="border: none; background-color: white;  width: 300px; height: 150px;" /> </form> </th>
        </tr>
    </table>
    <table id="vyber-menu">
        <tr>
            <th> <form action="/Lobby/Vyber"> <input type="submit" value="Připojit" style="border: none; background-color: white; width: 300px; height: 150px; " /> </form> </th>
        </tr>
    </table>
</div>               



