@page
@model ValecnaPlaneta.Views.Lobby.MenuModel
@{
}


<link />

<form action="/Lobby/Menu">
    <input type="submit" value="Připojit"/>
</form>

<div id="menu">
    <table id="vytvor">
        <tr>
            <th><form> <a href="Vytvor.cshtml">Nová Hra</a></form></th>
        </tr>
    </table>
    <table id="vyber">
        <tr>
            <th><form> <a href="Vyber.cshtml">Připojit</a></form></th>
        </tr>
    </table>
</div>
