@page
@model ValecnaPlaneta.Views.Lobby.MenuModel
@{
}


<link />


<div id="menu">
    <table id="vytvor">
        <tr>
            <th> <form action="/Lobby/Vytvor"> <input type="submit" value="Nová hra"/> </form> </th>
        </tr>
    </table>
    <table id="vyber">
        <tr>
            <th> <form action="/Lobby/Vyber"> <input type="submit" value="Připojit"/> </form> </th>
        </tr>
    </table>
</div>
