@model List<Hra>

<div id="menu">
    @if (Model == null || Model.Count == 0)
    {
        <span><i>Žádné vytvořené hry.</i></span>
    }
    else
    {
        <table id="vyber">

            @foreach (Hra hra in @Model)
            {
                <tr>
                    <td>
                        @if (hra.Soukroma)
                        {
                            <form action="/Lobby/Heslo">
                                <input type="submit" name="jmenoHry" value="@hra.Jmeno" style="border: none; background-color: white; width: 300px; height: 150px;" />
                                <input type="hidden" name="tokenHry" value="@hra.Token" />
                                <span>(soukromá)</span>
                            </form>
                        }
                        else
                        {
                            <form action="/Lobby/Pripojit">
                                <input type="submit" name="jmenoHry" value="@hra.Jmeno" style="border: none; background-color: white; width: 300px; height: 150px;" />
                                <input type="hidden" name="tokenHry" value="@hra.Token" />
                            </form>
                        }
                    </td>
                </tr>
            }
        </table>
    }
</div>
