@model List<Hra>

<div id="menu">
    @if (Model == null || Model.Count == 0)
    {
        <span><i>Žádné vytvořené hry.</i></span>
    }
    else
    {
        <table id="vyber">
            <tr>
                @foreach (Hra hra in @Model)
                {
                    <td>
                        <form action="/Lobby/Heslo">
                            <input type="submit" value="@hra.Jmeno" style="border: none; background-color: white; width: 300px; height: 150px;" />
                        </form>
                    </td>
                }
            </tr>
        </table>
    }
</div>
