@page
@model ValecnaPlaneta.Views.Lobby.VyberModel
@{
}

<link />



<div id="menu">
    <table id="vytvor">
        <tr>
           <th> <form action="/Lobby/Heslo"> <input type="submit" value="Hra 1" style="border: none; background-color: white;  width: 300px; height: 150px; "/> </form> </th>
        </tr>
    </table>
    <table id="vyber">
        <tr>
            <th> <form action="/Lobby/Heslo"> <input type="submit" value="Hra 2" style="border: none; background-color: white;  width: 300px; height: 150px; "/> </form> </th>
        </tr>
    </table>
    <table id="vyber">
        <tr>
             <th> <form action="/Lobby/Heslo"> <input type="submit" value="Hra 3" style="border: none; background-color: white;  width: 300px; height: 150px; "/> </form> </th>
        </tr>
    </table>
</div>
    