@page
@model ValecnaPlaneta.Views.Lobby.VyberModel
@{
}

<link />



<div id="menu">
    <table id="vytvor">
        <tr>
           <th> <form action="/Lobby/Heslo"> <input type="submit" value="Hra 1"/> </form> </th>
        </tr>
    </table>
    <table id="vyber">
        <tr>
            <th> <form action="/Lobby/Heslo"> <input type="submit" value="Hra 2"/> </form> </th>
        </tr>
    </table>
    <table id="vyber">
        <tr>
             <th> <form action="/Lobby/Heslo"> <input type="submit" value="Hra 3"/> </form> </th>
        </tr>
    </table>
</div>
    