@page
@model ValecnaPlaneta.Views.Lobby.VyberModel
@{
}

<link />

<form action="/Lobby/Vyber">
    <input type="submit" value="Připojit"/>
</form>

<div id="menu">
    <table id="vytvor">
        <tr>
            <th><form> <a href="Vytvor.cshtml">Hra 1</a></form></th>
        </tr>
    </table>
    <table id="vyber">
        <tr>
            <th><form> <a href="Vyber.cshtml">Hra 2</a></form></th>
        </tr>
    </table>
    <table id="vyber">
        <tr>
            <th><form> <a href="Vyber.cshtml">Hra 3</a></form></th>
        </tr>
    </table>
</div>
