
<form action="/Lobby/Vytvor" method="post" style="font-family: 'Kanit', sans-serif; text-align:center; margin-top:300px; font-size:3em;">
    <input type="submit" value="Create" name="vytvorit"/>        
    <input type="text" name="jmeno" placeholder="Name" required/>  
    <input type="checkbox" value="Private game" id="soukroma" name="soukromaHra" onclick="klikNaCheckbox()" />
    <label for="soukroma">Private game</label>
    <input type="password" name="heslo" placeholder="Password" id="heslo" style="visibility: hidden;  margin-left: -142px;" />
</form>

