<form action="/Prikazy/index">
    <input type="submit" value="Vytvořit"/>
    <input type="text" value="Jméno"/>
    <input type="password" value="Heslo"/>
    <input type="checkbox" value="Soukromá hra" id="soukroma"/>
    <label for="soukroma">Soukromá hra</label><br>
</form>
