<form action="/Prikazy/index">
    <input type="submit" value="Vytvořit" name="vytvorit"/>
    <input type="text" value="Jméno" name="jmeno"/>
    <input type="password" value="Heslo" name="heslo"/>
    <input type="checkbox" value="Soukromá hra" id="soukroma" name="soukromaHra"/>
    <label for="soukroma">Soukromá hra</label><br>
</form>
