<form action="/Prikazy/index" style="text-align:center; margin-top: 300px; font-size: 2em;" >
    <input type="submit" value="Vytvořit" name="vytvorit"/>
    <input type="text" value="Jméno" name="jmeno"/>
    <input type="password" value="Heslo" name="heslo"/>
    <input type="checkbox" value="Soukromá hra" id="soukroma" name="soukromaHra"/>
    <label for="soukroma">Soukromá hra</label><br>
</form>
