<html style="background-color: darkolivegreen;">
    <form action="/Lobby/Vytvor" method="post" style="margin: 0 auto; font-family: 'Kanit', sans-serif;">
        <input type="submit" value="Vytvořit" name="vytvorit"/>        
        <input type="text" name="jmeno" placeholder="Jméno" required/>  
        <input type="checkbox" value="Soukromá hra" id="soukroma" name="soukromaHra" onclick="klikNaCheckbox()" />
        <label for="soukroma">Soukromá hra</label>
        <input type="password" name="heslo" placeholder="Heslo" id="heslo" style="visibility: hidden;  margin-left: -142px;" />
        <br>
    </form>
</html>
