<form action="/Lobby/Vytvor" method="post"  style="text-align:center; margin-top: 300px; font-size: 3em;">
    <input type="submit" value="Vytvořit" name="vytvorit"/>        
    <input type="text" name="jmeno" placeholder="Jméno" required/>  
    <input type="checkbox" value="Soukromá hra" id="soukroma" name="soukromaHra" onclick="klikNaCheckbox()" />
    <label for="soukroma">Soukromá hra</label>
    <input type="password" name="heslo" placeholder="Heslo" id="heslo" style="visibility: hidden;  margin-left: -142px;" />
</form>
